.ajax-message {
    color: #fff;
    background: #7FAD39;
    border-color: #7FAD39;
    font-weight: 600;
    position: fixed;
    bottom: 5%;
    font-size: 1.1rem;
    right: 0;
    min-width: 25%;
    border-radius: 50px;
}

.invalid-order-btn {
    opacity: .5;
    cursor: not-allowed;
}

/* Shop Pagintion Style */

.shop-pagination-nav ul.pagination li .page-link {
    color: #7FAD39;
}

.shop-pagination-nav ul.pagination li.page-item.active .page-link {
    background-color: #7FAD39;
    border-color: #7FAD39;
    color: #fff;
}